.secao-pokedex .list-pokemons .normal {
  background-color: #a6a877;
}
.secao-pokedex .list-pokemons .grass {
  background-color: #76c850;
}
.secao-pokedex .list-pokemons .fire {
  background-color: #ee7f30;
}
.secao-pokedex .list-pokemons .water {
  background-color: #678fee;
}
.secao-pokedex .list-pokemons .electric {
  background-color: #f7cf2e;
}
.secao-pokedex .list-pokemons .ice {
  background-color: #98d5d7;
}
.secao-pokedex .list-pokemons .ground {
  background-color: #dfbf69;
}
.secao-pokedex .list-pokemons .flying {
  background-color: #a98ff0;
}
.secao-pokedex .list-pokemons .poison {
  background-color: #a040a0;
}
.secao-pokedex .list-pokemons .fighting {
  background-color: #bf3029;
}
.secao-pokedex .list-pokemons .psychic {
  background-color: #f65687;
}
.secao-pokedex .list-pokemons .dark {
  background-color: #725847;
}
.secao-pokedex .list-pokemons .rock {
  background-color: #b8a137;
}
.secao-pokedex .list-pokemons .bug {
  background-color: #a8b720;
}
.secao-pokedex .list-pokemons .ghost {
  background-color: #6e5896;
}
.secao-pokedex .list-pokemons .steel {
  background-color: #b9b7cf;
}
.secao-pokedex .list-pokemons .dragon {
  background-color: #6f38f6;
}
.secao-pokedex .list-pokemons .fairy {
  background-color: #f9aec7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.secao-pokedex {
  max-width: 1024px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 25px;
}
.secao-pokedex-title {
  color: #313131;
}
.secao-pokedex .list-pokemons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
}
@media (max-width: 560px) {
  .secao-pokedex .list-pokemons {
    justify-content: center;
  }
}
.secao-pokedex .list-pokemons-item {
  flex: 1 1 28%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 15px;
  box-shadow: 8px 8px 10px #ccc;
  padding: 18px;
}
@media (max-width: 560px) {
  .secao-pokedex .list-pokemons-item {
    max-width: 165px;
  }
}
@media (max-width: 400px) {
  .secao-pokedex .list-pokemons-item {
    max-width: 137px;
  }
}
.secao-pokedex .list-pokemons-item .top-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.secao-pokedex .list-pokemons-item .top-card .num-card {
  color: rgba(0, 0, 0, 0.2745098039);
}
.secao-pokedex .list-pokemons-item .top-card .name-pokemon {
  font-size: 25px;
  text-transform: capitalize;
}
@media (max-width: 560px) {
  .secao-pokedex .list-pokemons-item .top-card .name-pokemon {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .secao-pokedex .list-pokemons-item .top-card .name-pokemon {
    font-size: 16px;
  }
}
.secao-pokedex .list-pokemons-item .details {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.secao-pokedex .list-pokemons-item .details .type {
  margin-top: 15px;
}
.secao-pokedex .list-pokemons-item .details .type li {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  background-color: rgba(240, 242, 246, 0.3764705882);
  border-radius: 18px;
  margin-bottom: 0.5rem;
  padding: 8px 18px;
}
@media (max-width: 560px) {
  .secao-pokedex .list-pokemons-item .details .type li {
    font-size: 10px;
    padding: 4px 9px;
  }
}
.secao-pokedex .list-pokemons-item .details .container-img {
  width: 130px;
  width: 100px;
}
@media (max-width: 560px) {
  .secao-pokedex .list-pokemons-item .details .container-img {
    width: 75px;
    height: 90px;
  }
}
.secao-pokedex .list-pokemons-item .details .container-img img {
  width: 100%;
  height: 100%;
}
.secao-pokedex .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.secao-pokedex .pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

.secao-pokemon-info {
  display: none;
  max-width: 550px;
  height: 98vh;
  width: 100%;
  margin: 10px 20px 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: 0 0 10px #ccc;
  padding: 0 0 25px 0;
  background-color: #76c850;
}
.secao-pokemon-info .header {
  border-radius: 10px;
  padding-top: 50px;
}
.secao-pokemon-info .header .container-btn, .secao-pokemon-info .header .container-info-pokemon {
  display: flex;
  justify-content: space-between;
}
.secao-pokemon-info .header .container-btn {
  margin: 0 25px 25px 25px;
}
.secao-pokemon-info .header .container-info-pokemon {
  flex-direction: column;
  margin: 0 25px;
}
.secao-pokemon-info .header .container-info-pokemon .container-name-id {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.secao-pokemon-info .header .container-info-pokemon .container-name-id h2 {
  font-size: 50px;
  letter-spacing: 2px;
}
.secao-pokemon-info .header .container-info-pokemon .container-name-id span {
  font-size: 20px;
}
.secao-pokemon-info .header .container-info-pokemon .container-type {
  display: flex;
  gap: 20px;
}
.secao-pokemon-info .header .container-info-pokemon .container-type li {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
  background-color: rgba(240, 242, 246, 0.3764705882);
  border-radius: 18px;
  padding: 8px 18px;
}
.secao-pokemon-info .header .container-info-pokemon .container-img {
  width: 100%;
  height: 300px;
  text-align: center;
}
.secao-pokemon-info .header .container-info-pokemon .container-img img {
  width: 400px;
}
.secao-pokemon-info .container-status-pokemon {
  height: 48%;
  border-radius: 5%;
  background-color: #fff;
  padding: 100px 20px 2px 20px;
}
.secao-pokemon-info .container-status-pokemon h3 {
  color: #313131;
  margin-bottom: 15px;
}
.secao-pokemon-info .container-status-pokemon .status-pokemon li {
  display: flex;
  gap: 20px;
  padding: 8px;
}
.secao-pokemon-info .container-status-pokemon .status-pokemon li .title {
  width: 10%;
  color: rgba(49, 49, 49, 0.6980392157);
}
.secao-pokemon-info .container-status-pokemon .status-pokemon li .info {
  width: 5%;
  color: #313131;
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
